*.o
cmass
gauss_solv
jac_solv
jac_solv_ocl
jac_solv_ocl_basic
jac_solv_ocl_colmaj
jac_solv_ocl_colmaj_nobr
jac_solv_ocl_colmaj_nobr_wg
jac_solv_ocl_best
mm_testbed
stencil
vadd

# OpenMP binaries
jac_solv_dat_reg
jac_solv_par_for
jac_solv_parfor
jac_solv_targ
phi_test
pi_loop
pi_spmd_final
pi_targ
scope_play
pi
scope_play

